.tarefas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    font-family: "Roboto", serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .tarefa-item {
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", serif;
  }
  
.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto", serif;
}

.h1-home {
  text-align: center;
}